/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* Shared CSS */
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.cvb{
    margin-right: 20px;
}

/* Navbar Section Start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav h3{
    font-size: 45px;
    font-weight: 800px;
    color: #181818;
}

nav h3 span{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    color:  #474747;
    font-size: 20px;
    font-weight: 400;
}
/* Navbar Section End */

/* Header Styles */
header{
    background-color: #FFF8F3;
    height: 688px;
}

.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 60px;
}

.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
}

.banner p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 585px;
    margin-bottom: 30px;
}

.profile-pic{
    width: 800px;
}

/* 
-----------------------
About Me Section Starts
-----------------------
*/
.about{
    width: 1140px;
    margin: 130px auto;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 0 155px;
}

.about-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 827px;
    margin: 30px auto ;
}

.personal{
    width: 827px;
    margin: 0 auto;
    margin-bottom: 130;
    display: flex;
    justify-content: space-between;
}

.data{
    text-align: center;
}

.data p{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.data h3{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
/* 
---------------------
About Me Section Ends
---------------------
*/

/* 
------------------------
What I Do Section Starts
------------------------
*/

.expertize{
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.expert-title{
    text-align: center;
}

.expert-title h2{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.expert-title p{
    width: 909px;
    margin: 0 auto;
    color:#757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 50px;
}

.expert-boxs{
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.box{
    width: 167px;
    padding: 30px 33px;
    margin-right: 20px;

}

.box img{
    margin-bottom: 30px;
}

.box h3{
    margin-bottom: 20px;
    color: #181818;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box p{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

/* 
-----------------------
What I Do Section Ends
-----------------------
*/

/* 
-----------------------
Resume Section Ends
-----------------------
*/
.resume{
    width: 1140px;
    margin: 100px auto;
}
.resume-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 113px;
}

.resume-details{
    display: flex;
    gap: 30px;
}

.education h2{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.edu{
    border-bottom: 1px solid #D1D1D1;
    width: 558px;
    margin-bottom: 30px;
}

.edu h3{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edu h4{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.edu p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 511px;
    margin-bottom: 30px;
}


/* 
-----------------------
Resume Section Ends
-----------------------
*/

/* 
-----------------------
Footer Section Starts
-----------------------
*/
footer{
    background: #FFF8F3;
}

.footer{
    width: 1140px;
    margin: 100px auto 0;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.footer-info h3{
    color:  #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
.footer-info p{
    width: 562px;
    margin: 25px 0;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.icons img{
    margin-right: 24px;
    margin-left: 0;
}

.footer-form h3{
    color:  #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

input{
    margin-top: 28px;
    border: none;
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background:  #FFF;
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-left: 20px;
}

.message{
    width: 461px;
    height: 180px;
}

/* 
-----------------------
Footer Section Ends
-----------------------
*/